
@use "../base/variable" as var;

.card {
  background-color: var.$secondary-color;
  color: var.$text-color;
  padding: var.$padding-base;
  border-radius: var.$border-radius;
  box-shadow: var.$card-shadow;
  width: 300px;


  h2 {
    color: var.$primary-color;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }

  &:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
  }
}
